In [2]:
# Import all necessary files to perform the Fourier analysis

import os            
import pandas as pd     
import numpy as np      
import glob
import seaborn as sns 
import matplotlib.pyplot as plt 
import vaex

In [7]:
path= 'C:/Users/Jared/Documents/ERDOS_EEG_Project/eeg_full_dataset' #Create a string that tells python where to look for the files

all_files = glob.glob(os.path.join(path, "*.csv")) # join path and append .csv to end so we can properly import the .csv files

all_files

len(all_files)

120

In [9]:
df_concat=(pd.concat(pd.read_csv(f) for f in all_files))

In [11]:
df_concat

,Unnamed: 0,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1
0,0,co2a0000364,10,True,obj,False,FP1,0,5.280,NaN
1,1,co2a0000364,10,True,obj,False,FP1,1,4.791,NaN
2,2,co2a0000364,10,True,obj,False,FP1,2,4.303,NaN
3,3,co2a0000364,10,True,obj,False,FP1,3,4.791,NaN
4,4,co2a0000364,10,True,obj,False,FP1,4,5.280,NaN
...,...,...,...,...,...,...,...,...,...,...
1818619,1818619,co3c0000402,119,False,match,False,Y,251,-37.292,1818619.0
1818620,1818620,co3c0000402,119,False,match,False,Y,252,-36.316,1818620.0
1818621,1818621,co3c0000402,119,False,match,False,Y,253,-34.363,1818621.0
1818622,1818622,co3c0000402,119,False,match,False,Y,254,-33.386,1818622.0
1818623,1818623,co3c0000402,119,False,match,False,Y,255,-32.898,1818623.0

In [12]:
df_Cz = df_concat[df_concat.sensor.isin(["CZ"])] # select Cz channel

In [14]:
df_Cz
df_Cz.to_csv('cz_trials.csv') # let's save this as a csv

,Unnamed: 0,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1
3840,3840,co2a0000364,10,True,obj,False,CZ,0,13.926,NaN
3841,3841,co2a0000364,10,True,obj,False,CZ,1,12.950,NaN
3842,3842,co2a0000364,10,True,obj,False,CZ,2,10.508,NaN
3843,3843,co2a0000364,10,True,obj,False,CZ,3,10.997,NaN
3844,3844,co2a0000364,10,True,obj,False,CZ,4,14.414,NaN
...,...,...,...,...,...,...,...,...,...,...
1806331,1806331,co3c0000402,119,False,match,False,CZ,251,-62.408,1806331.0
1806332,1806332,co3c0000402,119,False,match,False,CZ,252,-62.408,1806332.0
1806333,1806333,co3c0000402,119,False,match,False,CZ,253,-60.455,1806333.0
1806334,1806334,co3c0000402,119,False,match,False,CZ,254,-57.526,1806334.0
1806335,1806335,co3c0000402,119,False,match,False,CZ,255,-55.084,1806335.0

In [18]:
eeg_df=pd.read_csv('cz_trials.csv')

eeg_df

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1
0,3840,3840,co2a0000364,10,True,obj,False,CZ,0,13.926,NaN
1,3841,3841,co2a0000364,10,True,obj,False,CZ,1,12.950,NaN
2,3842,3842,co2a0000364,10,True,obj,False,CZ,2,10.508,NaN
3,3843,3843,co2a0000364,10,True,obj,False,CZ,3,10.997,NaN
4,3844,3844,co2a0000364,10,True,obj,False,CZ,4,14.414,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2785787,1806331,1806331,co3c0000402,119,False,match,False,CZ,251,-62.408,1806331.0
2785788,1806332,1806332,co3c0000402,119,False,match,False,CZ,252,-62.408,1806332.0
2785789,1806333,1806333,co3c0000402,119,False,match,False,CZ,253,-60.455,1806333.0
2785790,1806334,1806334,co3c0000402,119,False,match,False,CZ,254,-57.526,1806334.0
2785791,1806335,1806335,co3c0000402,119,False,match,False,CZ,255,-55.084,1806335.0

In [19]:
eeg_df["sample"] = pd.to_numeric(eeg_df["sample"], downcast="float")

eeg_df['Time'] = eeg_df[['sample']]*3.91 # change to ms

eeg_df['subject'] = eeg_df['subject'].astype(str)

eeg_df['match'] = eeg_df['match'].astype(str)


eeg_df

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1,Time
0,3840,3840,co2a0000364,10,True,obj,False,CZ,0.0,13.926,NaN,0.000000
1,3841,3841,co2a0000364,10,True,obj,False,CZ,1.0,12.950,NaN,3.910000
2,3842,3842,co2a0000364,10,True,obj,False,CZ,2.0,10.508,NaN,7.820000
3,3843,3843,co2a0000364,10,True,obj,False,CZ,3.0,10.997,NaN,11.730000
4,3844,3844,co2a0000364,10,True,obj,False,CZ,4.0,14.414,NaN,15.640000
...,...,...,...,...,...,...,...,...,...,...,...,...
2785787,1806331,1806331,co3c0000402,119,False,match,False,CZ,251.0,-62.408,1806331.0,981.410034
2785788,1806332,1806332,co3c0000402,119,False,match,False,CZ,252.0,-62.408,1806332.0,985.320007
2785789,1806333,1806333,co3c0000402,119,False,match,False,CZ,253.0,-60.455,1806333.0,989.230042
2785790,1806334,1806334,co3c0000402,119,False,match,False,CZ,254.0,-57.526,1806334.0,993.140015
2785791,1806335,1806335,co3c0000402,119,False,match,False,CZ,255.0,-55.084,1806335.0,997.050049

In [28]:
eeg_match = eeg_df[eeg_df['match'] == 'match']

eeg_nomatch = eeg_df[eeg_df['match'] == 'nomatch']

eeg_single = eeg_df[eeg_df['match'] == 'obj']

In [33]:
eeg_alc = eeg_df[eeg_df['alcoholic'] == True]

eeg_cont = eeg_df[eeg_df['alcoholic'] == False]

In [36]:
eeg_alc

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1,Time
0,3840,3840,co2a0000364,10,True,obj,False,CZ,0.0,13.926,NaN,0.000000
1,3841,3841,co2a0000364,10,True,obj,False,CZ,1.0,12.950,NaN,3.910000
2,3842,3842,co2a0000364,10,True,obj,False,CZ,2.0,10.508,NaN,7.820000
3,3843,3843,co2a0000364,10,True,obj,False,CZ,3.0,10.997,NaN,11.730000
4,3844,3844,co2a0000364,10,True,obj,False,CZ,4.0,14.414,NaN,15.640000
...,...,...,...,...,...,...,...,...,...,...,...,...
2757371,1150971,1150971,co3a0000461,119,True,match,False,CZ,251.0,-41.880,1150971.0,981.410034
2757372,1150972,1150972,co3a0000461,119,True,match,False,CZ,252.0,-39.927,1150972.0,985.320007
2757373,1150973,1150973,co3a0000461,119,True,match,False,CZ,253.0,-37.974,1150973.0,989.230042
2757374,1150974,1150974,co3a0000461,119,True,match,False,CZ,254.0,-36.509,1150974.0,993.140015
2757375,1150975,1150975,co3a0000461,119,True,match,False,CZ,255.0,-35.044,1150975.0,997.050049

In [32]:
eeg_nomatch

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1,Time
2304,151296,151296,co2a0000364,15,True,nomatch,False,CZ,0.0,-1.648,NaN,0.000000
2305,151297,151297,co2a0000364,15,True,nomatch,False,CZ,1.0,0.305,NaN,3.910000
2306,151298,151298,co2a0000364,15,True,nomatch,False,CZ,2.0,3.235,NaN,7.820000
2307,151299,151299,co2a0000364,15,True,nomatch,False,CZ,3.0,4.700,NaN,11.730000
2308,151300,151300,co2a0000364,15,True,nomatch,False,CZ,4.0,6.653,NaN,15.640000
...,...,...,...,...,...,...,...,...,...,...,...,...
2784763,1740795,1740795,co3c0000402,115,False,nomatch,False,CZ,251.0,-0.092,1740795.0,981.410034
2784764,1740796,1740796,co3c0000402,115,False,nomatch,False,CZ,252.0,-1.556,1740796.0,985.320007
2784765,1740797,1740797,co3c0000402,115,False,nomatch,False,CZ,253.0,-3.021,1740797.0,989.230042
2784766,1740798,1740798,co3c0000402,115,False,nomatch,False,CZ,254.0,-3.021,1740798.0,993.140015
2784767,1740799,1740799,co3c0000402,115,False,nomatch,False,CZ,255.0,-3.510,1740799.0,997.050049

In [24]:
eeg_single

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1,Time
0,3840,3840,co2a0000364,10,True,obj,False,CZ,0.0,13.926,NaN,0.000000
1,3841,3841,co2a0000364,10,True,obj,False,CZ,1.0,12.950,NaN,3.910000
2,3842,3842,co2a0000364,10,True,obj,False,CZ,2.0,10.508,NaN,7.820000
3,3843,3843,co2a0000364,10,True,obj,False,CZ,3.0,10.997,NaN,11.730000
4,3844,3844,co2a0000364,10,True,obj,False,CZ,4.0,14.414,NaN,15.640000
...,...,...,...,...,...,...,...,...,...,...,...,...
2785531,1789947,1789947,co3c0000402,118,False,obj,False,CZ,251.0,0.936,1789947.0,981.410034
2785532,1789948,1789948,co3c0000402,118,False,obj,False,CZ,252.0,-0.529,1789948.0,985.320007
2785533,1789949,1789949,co3c0000402,118,False,obj,False,CZ,253.0,-2.970,1789949.0,989.230042
2785534,1789950,1789950,co3c0000402,118,False,obj,False,CZ,254.0,-5.412,1789950.0,993.140015
2785535,1789951,1789951,co3c0000402,118,False,obj,False,CZ,255.0,-6.388,1789951.0,997.050049

In [65]:
unique_subjs = eeg_df.subject.unique() #grab all the subjects and store in a list
unique_time = eeg_df.Time.unique()

len(unique_time)

256

In [52]:
#This chunk of code will compute the FT for a single subject! Need to generalize to doing it for each subject all at once
# based on their matching condition! 

fs = 256 # Sampling rate (256 Hz)

# Get real amplitudes of FFT (only in postive frequencies). Symmetry/Parsevals theorem allows us to only grab the positive frequencies!
fft_vals_alc = np.absolute(np.fft.fft(eeg_alc['value']))
fft_vals_cont = np.absolute(np.fft.fft(eeg_cont['value']))

# Get frequencies for amplitudes in Hz
fft_freq_alc = np.fft.fftfreq(len(eeg_alc['Time']), 1.0/fs)
fft_freq_cont = np.fft.fftfreq(len(eeg_cont['Time']), 1.0/fs)

In [53]:
eeg_alc['freq'] = fft_freq_alc
eeg_alc['val'] = fft_vals_alc
eeg_alc['pow_spec'] = np.abs(fft_vals_alc)**2

<ipython-input-53-938475d92247>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eeg_alc['freq'] = fft_freq_alc
<ipython-input-53-938475d92247>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eeg_alc['val'] = fft_vals_alc
<ipython-input-53-938475d92247>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eeg_alc['pow_spec'] = np.abs(fft_vals_alc)**2

In [57]:
eeg_cont['freq'] = fft_freq_cont
eeg_cont['val'] = fft_vals_cont
eeg_cont['pow_spec'] = np.abs(fft_vals_cont)**2

<ipython-input-57-32602b50581e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eeg_cont['freq'] = fft_freq_cont
<ipython-input-57-32602b50581e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eeg_cont['val'] = fft_vals_cont
<ipython-input-57-32602b50581e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eeg_cont['pow_spec'] = np.abs(fft_vals_cont)**2

In [58]:
eeg_cont

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1,Time,freq,val,pow_spec
1512960,3840,3840,co2c0000337,2,False,obj,False,CZ,0.0,-1.719,NaN,0.000000,0.000000,4.888194e+06,2.389444e+13
1512961,3841,3841,co2c0000337,2,False,obj,False,CZ,1.0,0.722,NaN,3.910000,0.000255,4.111094e+05,1.690110e+11
1512962,3842,3842,co2c0000337,2,False,obj,False,CZ,2.0,5.117,NaN,7.820000,0.000510,8.605422e+05,7.405329e+11
1512963,3843,3843,co2c0000337,2,False,obj,False,CZ,3.0,9.511,NaN,11.730000,0.000765,4.644788e+05,2.157406e+11
1512964,3844,3844,co2c0000337,2,False,obj,False,CZ,4.0,10.000,NaN,15.640000,0.001020,4.707390e+05,2.215952e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2785787,1806331,1806331,co3c0000402,119,False,match,False,CZ,251.0,-62.408,1806331.0,981.410034,-0.001275,5.147420e+05,2.649593e+11
2785788,1806332,1806332,co3c0000402,119,False,match,False,CZ,252.0,-62.408,1806332.0,985.320007,-0.001020,4.707390e+05,2.215952e+11
2785789,1806333,1806333,co3c0000402,119,False,match,False,CZ,253.0,-60.455,1806333.0,989.230042,-0.000765,4.644788e+05,2.157406e+11
2785790,1806334,1806334,co3c0000402,119,False,match,False,CZ,254.0,-57.526,1806334.0,993.140015,-0.000510,8.605422e+05,7.405329e+11
2785791,1806335,1806335,co3c0000402,119,False,match,False,CZ,255.0,-55.084,1806335.0,997.050049,-0.000255,4.111094e+05,1.690110e+11

In [59]:
eeg_alc

,Unnamed: 0,Unnamed: 0.1,subject,trial,alcoholic,match,err,sensor,sample,value,Unnamed: 0.1.1,Time,freq,val,pow_spec
0,3840,3840,co2a0000364,10,True,obj,False,CZ,0.0,13.926,NaN,0.000000,0.000000,5.131854e+06,2.633593e+13
1,3841,3841,co2a0000364,10,True,obj,False,CZ,1.0,12.950,NaN,3.910000,0.000144,4.570028e+05,2.088515e+11
2,3842,3842,co2a0000364,10,True,obj,False,CZ,2.0,10.508,NaN,7.820000,0.000287,8.189758e+05,6.707214e+11
3,3843,3843,co2a0000364,10,True,obj,False,CZ,3.0,10.997,NaN,11.730000,0.000431,7.420146e+05,5.505856e+11
4,3844,3844,co2a0000364,10,True,obj,False,CZ,4.0,14.414,NaN,15.640000,0.000575,5.614463e+05,3.152220e+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2757371,1150971,1150971,co3a0000461,119,True,match,False,CZ,251.0,-41.880,1150971.0,981.410034,-0.000718,3.655125e+05,1.335994e+11
2757372,1150972,1150972,co3a0000461,119,True,match,False,CZ,252.0,-39.927,1150972.0,985.320007,-0.000575,5.614463e+05,3.152220e+11
2757373,1150973,1150973,co3a0000461,119,True,match,False,CZ,253.0,-37.974,1150973.0,989.230042,-0.000431,7.420146e+05,5.505856e+11
2757374,1150974,1150974,co3a0000461,119,True,match,False,CZ,254.0,-36.509,1150974.0,993.140015,-0.000287,8.189758e+05,6.707214e+11
2757375,1150975,1150975,co3a0000461,119,True,match,False,CZ,255.0,-35.044,1150975.0,997.050049,-0.000144,4.570028e+05,2.088515e+11

In [63]:
len(fft_freq_cont)

1003776

In [ ]:
def computeFFT(df, subject, fs):
    """
    Compute the FFT of the given subject and return also the axis in Hz for further plotting.
    Parameters
    ----------
    subj_id : string
        the subject identifier.
    fs : float
        Sampling frequency in Hz.
    Returns:
    fAx : instance of numpy.array
        Axis in Hz to plot the FFT.
    fftData : instance of numpy.array
        Value of the fft.
    """
    
    subj_id = subject # the subject identifier 
    fs = fs # sampling rate in our case 256 Hz, so this number should be 256, but in general it can vary!!!!
    df_filtered = df[df['subject'] == subj_id] # drop all other subjects from the dataframe
    
    # compute the fft
    fft_vals = np.absolute(np.fft.fft(df_filtered['value']))
    fft_freqs = np.fft.fftfreq(len(eeg_alc['Time']), 1.0/fs)
    mean_freq = 
    
    # add fft columns to filtered dataframe
    df_filtered['freq'] = fft_freqs
    df_filtered['fft_val'] = fft_vals
    df_filtered['pow_spec'] = np.abs(fft_vals)**2
    
    return df_filtered

In [66]:
from scipy import signal # after some research I think a periodogram will work better

In [72]:
def meanfreq(x, fs, subject_name):
    """
    Compute the power spectral density and mean frequency of the given subject over all trials.
    ----------
    x : array_like
        Time series of measurement values
    fs : float
        Sampling frequency in Hz.
    subj_id : string
        the subject identifier.
    Returns:
    subj_id : the subjects name.
    mnfreq : the mean frequency.
    """
    
    subj_id = subject_name
    f, Pxx_den = signal.periodogram(x, fs)                                                    
    Pxx_den = np.reshape( Pxx_den, (1,-1) ) 
    width = np.tile(f[1]-f[0], (1, Pxx_den.shape[1]))
    f = np.reshape(f, (1, -1))
    P = Pxx_den * width
    pwr = np.sum(P)

    mnfreq = np.dot(P, f.T)/pwr
    
    return list([subj_id,mnfreq])

In [73]:
mean_freq_list = []

for name in unique_subjs:
    df_filtered = eeg_df[eeg_df['subject'] == name] # drop all other subjects from the dataframe 
    mean_freq_list.append(meanfreq(df_filtered['value'], 256, name)) # add subjects mean freq to list

In [75]:
mean_freq_df = pd.DataFrame(mean_freq_list,columns=['subject','mean_freq'])

In [82]:
mean_freq_df

         subject               mean_freq
0    co2a0000364   [[3.154577442714817]]
1    co2a0000365  [[3.3730543921667353]]
2    co2a0000368   [[2.395196221804218]]
3    co2a0000369  [[2.6354323952536505]]
4    co2a0000370   [[4.058422621407547]]
..           ...                     ...
115  co3a0000458   [[2.513502475307426]]
116  co3a0000459  [[3.4198719427076507]]
117  co3a0000460   [[2.761310455062906]]
118  co3a0000461  [[3.0905593563671903]]
119  co3c0000402  [[2.1679642779833395]]

[120 rows x 2 columns]

In [87]:
mean_freq_df.to_csv('C:/Users/Jared/Documents/ERDOS_EEG_Project/mean_freq.csv') # export the above dataframe to a csv file.